/* Global
------------------------------ */

body {
    font: 62.5%/1.4 helvetica, arial, sans-serif; 
    padding: 2em 1em;
}

#logo {
   display: block;
   margin: 0 0 1em; 
}
.hasJS #logo {
   float: left;
}

.hasJS .content {
   clear: both;
}

p {
   font-size: 1.8em;
   line-height: 1.4;
   margin: 0 .3em 1em;
}




/* Navigation
------------------------------ */
.nav-primary {
   position: relative;
   clear: left;
}
.nav-primary h3 {
   display: none;
}
.nav-primary ul {
   border: 1px solid #e6e6e6;
}
.nav-primary li {
   font-size: 1.8em;
   border-bottom: 1px solid #f8f8f8;
}
.nav-primary li:last-child {
   border-bottom: 0;
}
.nav-primary a {
   display: block;
   padding: .5em .8em;
   text-decoration: none;
   color: #333;
}
.nav-primary a:hover {
   background-color: #f8f8f8;
}
.nav-primary .nav-current {
   font-weight: bold;
}

/* drop down menu formatting when all menu items won't fit in a single line */
.no-fit .nav-primary {
   overflow: hidden;
   margin: 0 0 1.5em;
}
.no-fit .nav-primary h3 {
   position: absolute;
   top: 0;
   right: 0;
   display: block;
   width: 4em;
   height: 4.5em; 
   background: #666 url(img/icons.png) no-repeat -205px 50%;
   text-indent: -999em;
   cursor: pointer;
}
.no-fit .nav-primary a {
   padding-right: 3em;
}
.no-fit .nav-primary.expanded h3 {
   background-position: -169px 50%;
}
.no-fit .nav-primary li {
   clear: left;
   display: none;
}    
.no-fit .nav-primary.expanded li,
.no-fit .nav-primary li.nav-current {
   display: list-item;
} 
.no-fit .nav-primary li.nav-current {
   border-bottom-width: 0;
}
.no-fit .nav-primary.expanded li.nav-current {
   border-bottom-width: 1px;
}




/* Media queries
------------------------------ */

@media screen and (min-width: 500px) {
   .hasJS .nav-primary {
      float: right;
      clear: none;
    }  
}

@media screen and (min-width: 910px) {0
   .nav-primary ul {
      float: right;
      width: 100%;
   }
   .nav-primary li {
      float: left;
      font-size: 1.5em;
      border-bottom: 0;
   }    
}